<div class="login-container">
    <form [formGroup]="loginForm" action="">
        <h1>LOGIN</h1>
        <div>
            <label>Username</label>
            <input type="text" placeholder="Enter your username here" formControlName="email">
        </div>
        <div>
            <label>Password</label>
            <input type="password" placeholder="Enter your password here" formControlName="password">
        </div>
        <input type="button" name="login"  (click)="onSubmit()" value="LOGIN">
        <div class="errmsg_div" *ngIf="iserrmsg$ | async" >
            please check your email and password
        </div>    
    </form>
</div>